.user-ord-header-div{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-ord-title{
    color: #393e46;
}
.user-ord-info-titles{
    height: 5rem;
    border-bottom: 1px solid #393e46;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.user-ord-info-title{
    width: 25%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-ord-info-title p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #393e46;
    margin: 0;
}
.user-ord-info-main-div{
    width: 100%;
}
.user-ord-searching-mass{
    text-align: center;
    font-size: 1.5rem;
    color: #393e46;
    margin-top: 4rem;
}
@media only screen and (max-width: 992px){
    .user-ord-info-titles, .user-ord-info-title{
        height: 4.5rem;
    }
}
@media only screen and (max-width: 768px){
    .user-ord-info-titles, .user-ord-info-title{
        height: 4rem;
    }
    .user-ord-info-title p{
        font-size: 0.9rem;
    }
    .user-ord-title{
        font-size: 1.6rem;
    }
    .user-ord-searching-mass{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 480px){
    .user-ord-header-div{
        height: 3rem;
    }
    .user-ord-info-titles, .user-ord-info-title{
        height: 3.5rem;
    }
    .user-ord-info-title p{
        font-size: 0.62rem;
    }
    .user-ord-searching-mass{
        font-size: 1rem;
    }
}