.all-pros-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #393e46;
}
.all-pros-main-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.all-pros-btn-main-div{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
.all-pros-btn{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    background-color: #6d9886;
    font-size: 1.2rem;
    font-family: shabnam;
    color: #f7f7f7;
    cursor: pointer;
}
.all-pros-loading-mass{
    font-size: 2rem;
    text-align: center;
    color: #393e46;
    margin: 8rem 0;
}
@media only screen and (max-width: 1345px){
    .all-pros-main-div{
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width: 1200px){
    .all-pros-main-div{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 768px){
    .all-pros-main-div{
        grid-template-columns: repeat(2,1fr);
    }
    .all-pros-title{
        font-size: 2.3rem;
    }
    .all-pros-loading-mass{
        font-size: 1.7rem;
        margin: 7rem 0;
    }
}
@media only screen and (max-width: 480px){
    .all-pros-main-div{
        grid-template-columns: repeat(1,1fr);
    }
    .all-pros-btn{
        width: 5.5rem;
        height: 2rem;
        font-size: 1rem;
    }
    .all-pros-loading-mass{
        font-size: 1.3rem;
        margin: 6rem 0;
    }
}