.row-information{
    height: 5rem;
    border-bottom: 1px solid #393e46;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.row-info{
    width: 25%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-info p{
    text-align: center;
    font-size: 1.2rem;
    color: #393e46;
    margin: 0;
}
.row-delete-btn{
    width: 7rem;
    height: 2.5rem;
    margin-right: 4rem;
    background-color: #6d9886;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: shabnam;
    color: #f7f7f7;
    cursor: pointer;
}
.row-select-box{
    width: 7rem;
    height: 2rem;
    margin-right: 4rem;
    background-color: #f7f7f7;
    border: 1px solid #393e46;
    border-radius: 4px;
    font-family: shabnam;
    font-size: 0.9rem;
    color: #393e46;
    outline: none;
    cursor: pointer;
    padding-right: 0.2rem;
}
@media only screen and (max-width: 992px){
    .row-information, .row-info{
        height: 4.5rem;
    }
}
@media only screen and (max-width: 768px){
    .row-information, .row-info{
        height: 4rem;
    } 
    .row-info p{
        font-size: 1rem;
    }
    .row-delete-btn, .row-select-box{
        width: 5.5rem;
        height: 2rem;
        margin-right: 1rem;
    }
    .row-delete-btn{
        font-size: 1rem;
    }
    .row-select-box{
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 480px){
    .row-information, .row-info{
        height: 3.5rem;
    }
    .row-info p{
        font-size: 0.7rem;
    }
    .row-delete-btn, .row-select-box{
        width: 3.5rem;
        height: 1.8rem;
        margin-right: 0.5rem;
    }
    .row-delete-btn{
        font-size: 0.8rem;
    }
    .row-select-box{
        font-size: 0.55rem;
    }
}