.not-f-main-div{
    max-width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    background-color: #393e46;
    border-radius: 15px;
}
.not-f-main-div svg{
    font-size: 22rem;
    color: #6d9886;
}
.not-f-text-div{
    max-width: 16rem;
}
.not-f-text-div p{
    font-size: 2rem;
    font-weight: 900;
    color: #f7f7f7;
}
.not-f-back-btn{
    width: 12.5rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #6d9886;
    font-family: shabnam;
    font-size: 1.2rem;
    color: #f7f7f7;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .not-f-main-div{
        height: 36rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    .not-f-main-div svg{
        font-size: 18rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 480px){
    .not-f-main-div{
        height: 30rem;
    }
    .not-f-main-div svg{
        font-size: 14rem;
        margin-top: 1rem;
    }
    .not-f-text-div{
        max-width: 14rem;
    }
    .not-f-text-div p{
        font-size: 1.4rem;
    }
    .not-f-back-btn{
        width: 10rem;
        height: 2.8rem;
        font-size: 0.95rem;
    }
}