.about-div{
    max-width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #0000002b;
    color: #393e46;
    margin: 6rem auto;
    padding: 2rem 0;
}
.about-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem;
}
.about-text{
    font-size: 1.2rem;
    padding: 0 2rem;
}
@media only screen and (max-width: 992px){
    .about-div{
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .about-title{
        font-size: 1.3rem;
        padding: 0 1rem;
    }
    .about-text{
        font-size: 1.1rem;
        padding: 0 1rem;
    }
}
@media only screen and (max-width: 480px){
    .about-title{
        font-size: 1.2rem;
        padding: 0 0.7rem;
    }
    .about-text{
        font-size: 1rem;
        padding: 0 0.7rem;
    }
}