.manage-pro-header-div{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.manage-pro-title{
    color: #393e46;
}
.manage-pro-search-input{
    width: 15rem;
    height: 1.8rem;
    border: 1px solid #393e46;
    border-radius: 3px;
    background-color: #f7f7f7;
    padding: 0rem 0.5rem 0 0;
    font-family: shabnam;
    font-size: 1rem;
}
.manage-pro-info-titles{
    height: 5rem;
    border-bottom: 1px solid #393e46;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.manage-pro-info-title{
    width: 25%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manage-pro-info-title p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #393e46;
    margin: 0;
}
.manage-pro-info-main-div{
    width: 100%;
}
@media only screen and (max-width: 992px){
    .manage-pro-info-titles, .manage-pro-info-title{
        height: 4.5rem;
    }
}
@media only screen and (max-width: 768px){
    .manage-pro-info-titles, .manage-pro-info-title{
        height: 4rem;
    }
    .manage-pro-info-title p{
        font-size: 0.9rem;
    }
    .manage-pro-title{
        font-size: 1.6rem;
    }
    .manage-pro-search-input{
        width: 13rem;
    }

}
@media only screen and (max-width: 480px){
    .manage-pro-header-div{
        height: 6rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    .manage-pro-info-titles, .manage-pro-info-title{
        height: 3.5rem;
    }
    .manage-pro-info-title p{
        font-size: 0.62rem;
    }
    .manage-pro-search-input{
        font-size: 0.8rem;
    }
}